[submodule "dependencies/BTKCore"]
	path = dependencies/BTKCore
	url = https://github.com/VisSimKoblenz/BTKCore.git
[submodule "dependencies/docopt"]
	path = dependencies/docopt
	url = https://github.com/VisSimKoblenz/docopt.cpp.git
[submodule "dependencies/simbody"]
	path = dependencies/simbody
	url = https://github.com/VisSimKoblenz/simbody.git
